
.content-info {
	background-color: $gray-base;
	color: $brand-info;
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-top: 4rem;
	a { 
			color: lighten($brand-primary, 13%);
		}
	a:hover { 
			color: lighten($brand-primary, 6.5%);
		}
		
	}