.featured_item_icons { 
	color: $brand_primary;
	font-size: 6rem;
	display:block;
	text-align:center;
	margin-bottom: 2rem;
	}
	
.featured_item_icons_bigger { 
	color: $brand_primary;
	font-size: 6.3rem;
	display:block;
	text-align:center;
	margin-bottom: 1.7rem;
	}

.main .row .col .well a:hover {
	text-decoration: none;
	color: $gray;
	}
	
.no_color a { color: $gray-dark; }

.list-group .continued { display: none }