.main {
	p {
		font-size: 1.6rem;
		margin-bottom: 1rem;
		}
}

.produce_item_header {
  margin-top: 2rem;
  color:red;
}

.container {
  margin-top: 3rem;
  }

.field-to-fork-page-title {
  margin-top: 2rem;
  }

.field_to_fork_row {display:table}

.altRow .field_to_fork_thumb {float:left}
.Row .field_to_fork_thumb {float:right;}

